// Specific CSS for your home-page
.info-cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.info-cards .green-soft {
  background-color: #90A955;
}

.info-cards .green-strong {
  background-color: #4F772D;

}

.info-cards .green-stronger {
  background-color: #31572C;
}

.info-cards .info-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 200px; /* Increase the height for a larger card */
  width: 350px; /* Increase the width for a larger card */
  border-radius: 10px;
  padding: 15px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.info-cards .info-card p.tip {
  font-size: 20px;
  font-weight: 700;
}

.info-cards .info-card p.second-text {
  font-size: .7em;
}

.info-cards .info-card:hover {
  transform: scale(1.2, 1.2);
}

.info-cards:hover > .info-card:not(:hover) {
  //filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.row {
  margin: 15px;
}

mark {
  background-color: #ECF39E;
  color: black;
  border-radius: 50px;
}

.restaurant-image {
  border-style: solid;
  border-color: #90A955;
  border-width: 3px 10px 3px 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.hr-home{
  border: 2px solid #31572C;
  background: transparent;
}

.partner-card{
  border-radius: 50px
}

.partner-button{
  font-family: Helvetica,"sans-serif";
  background: #ECF39E;
  border: 1px solid transparent;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 20px;
}

.partner-container{
  margin-top: 40px;
  margin-bottom: 25px
}

.card-title a {
  text-decoration: none;
  color: black;
}
