<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "bannepicture.jpg"%>');">
  <h1>Your favourite plate at the best rate, no food waste!</h1>
  <div class="form-group has-search mt-3 w-50 mx-auto">
    <%= form_with url: restaurants_path, method: :get do %>
      <div class="input-group">
        <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
        <%= text_field_tag :city, nil, class: "form-control", placeholder: "Enter delivery address" %>
        <button type="submit" class="main-button" style="margin-left: 10px"> Search</button>
      </div>
    <% end %>
  </div>
</div>


<h2 class="text-center" > How to plate rescue? </h2>
<div class="info-cards mp-2 mt-3 w-75 mx-auto">
    <div class="info-card green-soft">
        <p class="tip"> 1. Search your craving </p>
        <p class="second-text"> Use the app to search and discover a variety of delectable options from local restaurants at a very low price</p>
    </div>
    <div class="info-card green-strong">
        <p class="tip"> 2. Choose your mission:  </p>
        <p class="second-text"> Add to cart and secure your plates too good to be left behind</p>
    </div>
    <div class="info-card green-stronger">
        <p class="tip"> 3. Rescue the plate! </p>
        <p class="second-text"> Seal the deal, pay for your rescued plate, and get ready for the grand delivery of your culinary triumph.</p>
    </div>
</div>
<hr>
