.card-category-myrestaurants {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.my-restaurant-title {
  transition: color 0.3s;
  color: #4F772D;
}
.my-restaurant-title:hover {
  color: #ECF39E;
}

.my-button-style {
  color: white;
}
.my-buttons {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 10px;
  background: #90A955;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 750px;
}
.my-buttons:hover {
  background: #4F772D;
}

.my-button {
  cursor: pointer;
  font-weight: 700;
  font-family: "Figtree","sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 10px;
  background: #90A955;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.my-button:hover {
  background: #4F772D;
}

.main-button > svg {
  // width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.main-button:hover svg {
  transform: translateX(5px);
}

.main-button:active {
  transform: scale(0.95);
}

.fa-solid .fa-calendar-days {
  color: #4F772D;
}

.a-solid .fa-clock {
  color: #4F772D;
}

.fa-solid .fa-pen-to-square {
  color: #4F772D;
}

.fa-solid .fa-trash {
  color: #4F772D;
}


.card-myplates {
  overflow: hidden;
  height: 150px;
  width: 750px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 2%;
}

.card-myplates img {
  height: 150px;
  width: 120px;
  object-fit: cover;
}

.card-myplates h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-myplates p {
  font-size: 12px;
  line-height: 0.6;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.myplate-product .myplate-product-infos {
  padding: 16px;
  margin-left: auto;

}


.card-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
}




.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.edit-delete-links {

}

