.card-myrest {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  font-size: 12px;
}

.card-mybody {
  overflow: hidden;
  width: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 4px;
  border-radius: 5%;
}

.myrest-title {
  font-size: 13px;
}

.myrest-product-infos {
  font-size: 8px;
  font-weight: bold;
  margin: 0;
}



.list-group-item {
  background-color: #ECF39E;
  height: 27px;
  padding: 5px;
  margin: 2px;
  align-items: center;
  border-radius: 5%;
}

.total-title {
  font-size: 14px;
}

.text-decoration-none .fa-pen-to-square:hover {
  color: #789457 !important;
}

.text-decoration-none:hover .fa-pen-to-square {
  color: #789457 !important;
}

.text-decoration-none .fa-trash:hover {
  color: #789457 !important;
}

.text-decoration-none:hover .fa-trash {
  color: #789457 !important;
}

h2 {
  font-size: 26px;

  a {
    text-decoration: none;
    color: #4F772D;

    &:hover {
      color: #789457;
    }
  }
}

.text-decoration-none .fa-arrow-left:hover {
  color: #789457 !important;
}

.text-decoration-none:hover .fa-arrow-left {
  color: #789457 !important;
}

.trash-icon {
  right: 40px;
  position: absolute;
  top: 0px;
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
